<h1>Log In Below:</h1>
<form class="" action="/sessions" method="post">
  <p>Email: <input type="email" name="login[email]" id="email"><br></p>
  <p>Password: <input type="password" name="login[password]" id="password"><br></p>
  <p><input type="submit" id="submit" value="Log In"></p>
</form>
